.hero-title {
  font: 700 3rem Arial;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
}

thead .contacts-table-row {
  border-bottom: 2px solid #aaa;
}

.contacts-table-body {
  max-height: 15em;
  overflow-y: scroll;
  display: block;
}
.contacts-table-row {
  border-bottom: 1px solid #ddd;
  display: table;
}
.contacts-table-row:nth-child(even) {
  background-color: #ddd;
}
td,
th {
  width: 20ch;
}
.add-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 1em auto;
  padding-top: 1em;
  border-top: 1px solid #aaa;
}
.add-contact-btn {
  margin-left: 2em;
}

footer {
  text-align: center;
  font-size: small;
}

footer p:first-child {
  margin-bottom: 0.3em;
}

footer p:last-child {
  margin-top: 0;
}
